extends layout

block content
  h1.w3-container.w3-teal Página principal
  .w3-container 
    p Plataforma da Direção-Geral do Livro, dos Arquivos e das Bibliotecas para disponibilizar informação, orientações e ferramentas que facilitem e normalizem as práticas de classificação e avaliação da informação pública.
    p Esta plataforma destina-se a entidades da Administração Pública, a empresas públicas e a outras entidades de Portugal Continental e permite a interação entre estas e a DGLAB.
    p É igualmente destinada ao cidadão, particularmente através da disponibilização do catálogo de processos de negócio da Administração Pública, que integra a Lista Consolidada. 
    p Links Disponíveis:
      ul 
        li 
          a(href="/classes") Classes
        li 
          a(href="/termosIndice") Termos de índice
  footer.w3-container.w3-teal
    address Gerado por clavapp
       
